.w-15{
    width: 15% !important;
}
.w-85{
    width: 85% !important;
}

.title-forward{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.w-10{
    width: 10% !important;
}
.w-80{
    width: 80% !important;
}
.h-15{
    height: 15% !important;
}
.h-85{
    height: 85% !important;
}
.h-70{
    height: 70% !important;
}
.h-10{
    height: 10% !important;
}
#companie-options{
    background-color: red;
}

#filtres{
    background-color: green;
}

.card{
    margin-top:0px;
    margin-bottom: 0px;
    margin:  2%;
    height: 15vh ;
    min-height: 150px;
    width: 23vw;
    min-width: 250px;
}
.card-title{
    font-size: 15px;
}

.btn-simple{
    width: 150px;
    height: 35px;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #090909;
    color: white;
    border-color: #222;
}

body{
    background-color: #090909;
    color:white;
}
.accordion-item{
    background-color: #090909;
}
.black-text{
    color: #090909;
}